<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제 주문 페이지</title>
</head>
<body>
    <form id = "paymentOrderForm" action="/" method="post">
        <label for = "orderName">상품명:</label>
        <input type = "text" id = "orderName" name="orderName" value="테스트 상품 결제주문 발행"><br><br>

        <label for = "amount">수량:</label>
        <input type = "number" id = "amount" name = "amount" min = "1" value = "1"><br><br>

        <input type = "submit" value = "바로 구매하기">
    </form>
    <script type = "text/javascript">
        function sendFormData() {
            const form = document.getElementById("paymentOrderForm");
            const formData = new FormData(form);

            const jsonObject = {};
            formData.forEach((value, key) => {
                jsonObject[key] = value;
            });
            jsonObject["accountId"] = 1; // jwt account id

            const xhr = new XMLHttpRequest();
            xhr.open("POST", "http://localhost:8080/v1/api/toss-payments/payment-order", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.setRequestHeader("Authorization", `Bearer ${localStorage.getItem('token')}`);
            xhr.onreadystatechange = () => {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    alert("요청이 성공적으로 완료되었습니다.");
                } else if (xhr.readyState === 4) {
                    alert("요청이 실패했습니다. 상태 코드: " + xhr.status);
                }
            };
           xhr.send(JSON.stringify(jsonObject));
        }

        document.getElementById("paymentOrderForm").addEventListener("submit", function(event) {
            event.preventDefault();
            sendFormData();
        });
    </script>
</body>
</html>